/* 1. banner */
#banner {
  width: 100%;
  margin-top: 115px;
}

.banner-image {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.banner-image .follow {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  background: none;
  color: #282727;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
}

.follow:hover {
  background: #282727;
  color: #fff;
}
