/* 1. Bộ lọc */
#utilities {
  margin-right: 40px;
}

.filter-products h5 {
  font-weight: 500;
  margin-bottom: 10px;
}

.filter-products p {
  margin-bottom: 0;
}

.your-choose-container,
.shop-widget-list {
  border: 1px solid #ededed;
}

.shop-widget-list {
  padding: 0;
}

.shop-widget-content input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.shop-widget-list li {
  margin: 10px;
}

.your-choose-container .title {
  margin: 10px;
}

.filter-checks {
  border: 1px solid #ededed;
}
